body {
  margin: 1% 4% 1% 3%;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

p {
  margin-bottom: 0px;
}

.shiftDown {
  padding-top: 30px;
  margin-top: 10px;
}

.shiftRight {
  padding-left: 25px !important;
  margin-left: 25px !important;
}